@import "../outer/normalize.scss";
@import "../outer/bootstrap.min.scss";
@import "../outer/light-bootstrap-dashboard.scss";
@import "../outer/pe-icon-7-stroke.scss";
@import "../outer/animate.scss";
@import "../outer/jquery-ui.scss";
@import "../outer/swiper.scss";
@import "./pc.scss";
@import "./header.scss";


.tc{
	text-align:center;
}

.fr{
    float:right;
}
.pointer{
    cursor:pointer;
}
.popover{
    max-width:500px !important;
    min-width:480px !important;
}





@media screen and (max-width: 1441px) {
   .popover{
      min-width:480px !important;
      width:500px !important;
   }
}

@media screen and (max-width: 1367px) {
   .popover{
      min-width:440px !important;
      width:460px !important;
   }
}

@media screen and (max-width: 1281px) {
   .popover{
      min-width:360px !important;
      width:380px !important;
   }
}

.loading_img{
    position:fixed;
    z-index:9999;
    top:0px;
    left:0px;
    background:rgba(255,255,255,0.7);
    width:100%;
    height:100%;
    img{
        height:30px;
        width:30px;
        margin:auto;
        margin-top:300px;
    }
}

$class-slug: percent !default;
@for $i from 1 through 10 {
    .#{$class-slug}_#{$i}{
        width: $i*10+%;
        float:left;
        text-align:center;
        position:relative;
        input,textarea{
        	width:90%;
        	margin-left:5%;
        }
        textarea{
            border: 0px;
            outline: none;
            cursor: pointer;
            overflow: hidden;
        }
        i{
            cursor:pointer;
            &:hover{
                @include c3(transform,scale(1.05));
                @include c3(transition,transform .1s ease-out)
               
            }
        }
    }
}