<div class="content table-responsive table-full-width padding_none">
	<div class="Carousel-floor">
			<div>
				<table class="table">
					<thead>
			            <tr>
				          <th class="percent_2"><label>楼层标题</l
				          <th class="percent_6"><input type="text" placeholder="人气单品"></th>
				          <th class="percent_2"><input type="checkbox" checked></th>

			        	</tr>
                    </thead>
                    <tbody>
						<tr class="row tr_sortable">
	              			<td class="percent_2">
	              			</td>
	              			<td class="percent_6 td-img">
	                    		<img src="">
	              			</td>
	              			<td class="percent_2">
	                   			<i class="fa fa-lock lock-change"></i>
	                  			<i class="fa fa-plus-square"></i>
	                   			<i class="fa fa-minus-square"></i>
	                		</td>
	            		</tr>
            		</tbody>
				</table> 
			</div>
	</div>
</div>	