<div class="content table-responsive table-full-width padding_none">
	<div class="Lateral-floor">
		<label>楼层名称</label><input type="text" class="Lateral-floor-text">
		<label>副标题</label><input type="text" class="Lateral-floor-text">
		<label>更多</label><input type="text" class="Lateral-floor-text">
		<div class="btn-div">增加商品</div>
		<table class="table">
        <thead>
            <tr>
          <th class="percent_2">商品sku</th>
          <th class="percent_2">商品名称</th>
          <th class="percent_2">商品副标题</th>
          <th class="percent_1">售价</th>
          <th class="percent_1">月供</th>
          <th class="percent_2">操作</th>
        	</tr>
        </thead>
        <tbody class="edit_sort_zone">
            <tr class="row tr_sortable">
              <td class="percent_2">
                	<span class="cate_name"/>2715</span>
              </td>
              <td class="percent_2">
                    <span class="cate_name"/>三星S6</span>
                   
              </td>
              <td class="percent_2">
                   <span class="cate_name"/>**</span>
              </td>
              <td class="percent_1">
                   <span class="cate_name"/>**</span>
              </td>
              <td class="percent_1">
                   <span class="cate_name"/>**</span>
              </td>
              <td class="percent_2">
                   <i class="fa fa-lock lock-change"></i>
                   <i class="fa fa-plus-square"></i>
                   <i class="fa fa-minus-square"></i>
                </td>
            </tr>

            <tr class="row tr_sortable">
              <td class="percent_2">
                	<span class="cate_name"/>2715</span>
              </td>
              <td class="percent_2">
                    <span class="cate_name"/>三星S6</span>
                   
              </td>
              <td class="percent_2">
                   <span class="cate_name"/>**</span>
              </td>
              <td class="percent_1">
                   <span class="cate_name"/>**</span>
              </td>
              <td class="percent_1">
                   <span class="cate_name"/>**</span>
              </td>
              <td class="percent_2">
                   <i class="fa fa-lock lock-change" style = "display:none;"></i>
                   <i class="fa fa-plus-square"></i>
                   <i class="fa fa-minus-square"></i>
                </td>
            </tr>

            



        </tbody>
    </table>
    <section>
    	<p>坑位信息设置</p>
    	<input type="checkbox" name="my-checkbox">售价 
    	<input type="text" placeholder="售价" class="Lateral-floor-text">
    	<input type="checkbox" name="my-checkbox">月供展示 
    	<select>
    		<option>&yen;280起</option>
    		<option>&yen;280&times;12期</option>
    	</select>
    	<div>
	    	<div class="btn-div">取消</div>
	    	<div class="btn-div">保存</div>
    	</div>
    </section>

	</div>
</div>	