   ##坑位导航
   <div class="div1 phone-list template drop_item edit_each_click" style="height:auto;width:40%;" data-edit = "navigate">
       <div class="phone-list-content">
       <dl>
           <dt>什么值得分期购?</dt>
           <dd>看 看 同 学 们 都 买 了 啥</dd>
       </dl>
       <ul>
           <li><a><span>苹果 6s</span></a><a><span>OPPO R7</span></a></li>
           <li><a><span>小米 4</span></a><a><span>乐视 MAX</span></a></li>
           <li><a><span>魅族MX5</span></a><a><span>联想 乐柠</span></a></li>
       </ul>
       </div>
   </div>