<div class="content table-responsive table-full-width padding_none">
	<div class="picture_text_content">
		<article>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					    <label  class="col-sm-3 control-label" for="ds_host">广告名称</label>
					    <div class="col-sm-5">
							<input class="form-control" id="ds_host" type="text">
					    </div>
		                <div class="col-sm-4 switch switch-large">
							<input type="checkbox" checked>
					    </div> 
				</div>
				<div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">主标题</label>
					    <div class="col-sm-5">
							<input class="form-control main_title" id="ds_host" type="text" />
					    </div>
					    <div class="col-sm-4">	
					    </div>
				</div>
				<div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">副标题</label>
					    <div class="col-sm-5">
							<input class="form-control side_title" id="ds_host" type="text">
					    </div>
					    <div class="col-sm-4">	
					    </div>
				</div>
				<div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">导航一标题</label>
					    <div class="col-sm-5">
							<input class="form-control nav1" id="ds_host" type="text">
					    </div>
					    <div class="col-sm-4">	
					    </div>
				</div>

				<div  class="form-group">
				    <label class="col-sm-3 control-label" for="ds_host">广告链接</label>
				    <div class="col-sm-5">
						<input class="form-control uri1" id="ds_host" type="text">
				    </div>
				    <div class="col-sm-4">	
						<select style = "display:none;">
							<option>选择链接类型</option>
							<option>原生</option>
							<option>H5</option>
						</select>
				    </div>
				</div>
				<div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">导航二标题</label>
					    <div class="col-sm-5">
							<input class="form-control nav2" id="ds_host" type="text">
					    </div>
					    <div class="col-sm-4">	
					    </div>
				</div>
				<div  class="form-group">
				    <label class="col-sm-3 control-label" for="ds_host">广告链接</label>
				    <div class="col-sm-5">
						<input class="form-control uri2" id="ds_host" type="text">
				    </div>
				    <div class="col-sm-4">	
						<select style = "display:none;">
							<option>选择链接类型</option>
							<option>原生</option>
							<option>H5</option>
						</select>
				    </div>
				</div>
				<div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">导航三标题</label>
					    <div class="col-sm-5">
							<input class="form-control nav3" id="ds_host" type="text">
					    </div>
					    <div class="col-sm-4">	
					    </div>
				</div>
				<div  class="form-group">
				    <label class="col-sm-3 control-label" for="ds_host">广告链接</label>
				    <div class="col-sm-5">
						<input class="form-control uri3" id="ds_host" type="text">
				    </div>
				    <div class="col-sm-4">	
						<select style = "display:none;">
							<option>选择链接类型</option>
							<option>原生</option>
							<option>H5</option>
						</select>
				    </div>
				</div>
				<div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">导航四标题</label>
					    <div class="col-sm-5">
							<input class="form-control nav4" id="ds_host" type="text">
					    </div>
					    <div class="col-sm-4">	
					    </div>
				</div>
				<div  class="form-group">
				    <label class="col-sm-3 control-label" for="ds_host">广告链接</label>
				    <div class="col-sm-5">
						<input class="form-control uri4" id="ds_host" type="text">
				    </div>
				    <div class="col-sm-4">	
						<select style = "display:none;">
							<option>选择链接类型</option>
							<option>原生</option>
							<option>H5</option>
						</select>
				    </div>
				</div>
				<div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">导航五标题</label>
					    <div class="col-sm-5">
							<input class="form-control nav5" id="ds_host" type="text">
					    </div>
					    <div class="col-sm-4">	
					    </div>
				</div>
				<div  class="form-group">
				    <label class="col-sm-3 control-label" for="ds_host">广告链接</label>
				    <div class="col-sm-5">
						<input class="form-control uri5" id="ds_host" type="text">
				    </div>
				    <div class="col-sm-4">	
						<select style = "display:none;">
							<option>选择链接类型</option>
							<option>原生</option>
							<option>H5</option>
						</select>
				    </div>
				</div>
			    <div  class="form-group">
					    <label class="col-sm-3 control-label" for="ds_host">导航六标题</label>
					    <div class="col-sm-5">
							<input class="form-control nav6" id="ds_host" type="text">
					    </div>
					    <div class="col-sm-4">	
					    </div>
				</div>
				<div  class="form-group">
				    <label class="col-sm-3 control-label" for="ds_host">广告链接</label>
				    <div class="col-sm-5">
						<input class="form-control uri6" id="ds_host" type="text">
				    </div>
				    <div class="col-sm-4">	
						<select style = "display:none;">
							<option>选择链接类型</option>
							<option>原生</option>
							<option>H5</option>
						</select>
				    </div>
				</div>
			</form>
		</article>
	</div>
</div>


<button class="btn btn-info edit_confirm fr">确定</button>
<button class="btn btn-warning edit_quit fr">取消</button>