<div>
{{!--    <button class = "btn btn-primary orientation_lock">锁定模块</button> --}}
   <button class = "btn btn-danger orientation_remove">删除模块</button>
   <button class = "btn btn-warning orientation_change">编辑模块</button>
 
<div>