<div class="content table-responsive table-full-width padding_none">
	<div class="Vertical-heading">
		<table class="table">
        <thead>
            <tr>
                <th class="percent_2">楼层标题</th>
                <th class="percent_4">楼层sku</th>
                <th class="percent_2">状态</th>
                <th class="percent_2">操作</th>
            </tr>
        </thead>
        <tbody class="edit_sort_zone">
            <tr class="row tr_sortable">
              <td class="percent_2">
                	<span class="cate_name"/>手机</span>
              </td>
              <td class="percent_4">
                    <span class="cate_name"/>2715、2314</span>
              </td>
              <td class="percent_2">
                   <span class="cate_name"/>发布</span>
              </td>
              <td class="percent_2">
                   <i class="fa fa-lock lock-change" style = "display:none;"></i>
                   <i class="fa fa-plus-square"></i>
                   <i class="fa fa-minus-square"></i>
                </td>
            </tr>
            <tr class="row tr_sortable">
                <td class="percent_2">
                	<span class="cate_name"/>电脑</span>
                   
                </td>
                <td class="percent_4">
                   	<span class="cate_name"/>2715/2314</span>
                </td>
                <td class="percent_2">
                   <span class="cate_name"/>隐藏</span>
                </td>
                <td class="percent_2">
                   <i class="fa fa-lock lock-change" style = "display:none;"></i>
                   <i class="fa fa-plus-square"></i>
                   <i class="fa fa-minus-square"></i>
                </td>
            </tr>
            <tr class="row tr_sortable">
                <td class="percent_2">
                   <span class="cate_name"/>数码</span>
                </td>
                <td class="percent_4">
                    <span class="cate_name"/>2715/2314</span>
                </td>
                <td class="percent_2">
                  <span class="cate_name"/>发布</span>
                </td>
                <td class="percent_2">
                   <i class="fa fa-lock lock-change" style = "display:none;"></i>
                   <i class="fa fa-plus-square"></i>
                   <i class="fa fa-minus-square"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <div class="div_btn">隐藏</div>
        <div class="div_btn">保存</div>
    </div>
	</div>

</div>