{{!-- ##坑位导航 t11 --}}
   <div class="div1 phone-list template drop_item edit_each_click index_t11" data-tpl = "t11" style="height:auto;width:40%;display:none;" data-edit = "navigate">
       <div class="phone-list-content">
           <dl>
               <dt class = "main_title">主标题</dt>
               <dd class = "side_title">副标题</dd>
           </dl>
           <ul>
               <li><a><span class = "nav1" data-uri = "">导航一</span></a><a><span class = "nav2" data-uri = "">导航二</span></a></li>
               <li><a><span class = "nav3" data-uri = "">导航三</span></a><a><span class = "nav4" data-uri = "">导航四</span></a></li>
               <li><a><span class = "nav5" data-uri = "">导航五</span></a><a><span class = "nav6" data-uri = "">导航六</span></a></li>
           </ul>
       </div>
       <button type="button" class="btn btn-default btn-xs remove"><span class="glyphicon glyphicon-trash"></span></button>
   </div>