{{!-- ##坑位图片内置广告 t12 --}}
   <div id="div_ad_inPits_l" class="template drop_item edit_each_click index_t12" data-tpl = "t12" data-edit = "navigate_pic" style = "display:none;">
      <img class="ad_inPits" src="http://cdn.ufenqi.com/cms/img/ad_inPits.png" data-uri = "" alt="">
      <button type="button" class="btn btn-default btn-xs remove"><span class="glyphicon glyphicon-trash"></span></button>
   </div>
   <div style="clear:both;"></div>