<div class="div1 index-list template drop_item cancel_drag index_t15" data-tpl = "t15" style="height:750px" appId = "">
        <nav>
            <div class="swiper-container" style = "height:30px;margin:5px;">
                <ul style="height:30px" class = "edit_each_click swiper-wrapper" data-edit = "vertical_floor_header">
                </ul>
                <!-- Add Arrows -->
                <div class="swiper-button-next swipe_button" style = "top:30%;display:none;opacity:0;"></div>
                <div class="swiper-button-prev swipe_button" style = "top:30%;display:none;opacity:0;"></div>
            </div>
        </nav>
        <article>
            <div class = "t15_content_list">
                <ul class = "orientation_drag orientation_content_list">

                 
                </ul>
            </div>
        </article>

        <button type="button" class="btn btn-default btn-xs remove"><span class="glyphicon glyphicon-trash"></span></button>
  </div>