{{#each data}}
<div id="div_ad_inPits_l" class="template drop_item edit_each_click img_module" data-tpl = "t12" data-edit = "navigate_pic" style = "height:auto;">
  <img class="ad_inPits img_url" src="{{pic_url}}" data-uri = "{{uri}}" alt="">
</div>
<div style="clear:both;"></div>

{{/each}}