<li class = "edit_each_click" data-edit = "vertical_floor" data-uri = "">
    <a class="shouji1 img_url"></a>
    <dl class = "goods_module">
        <dt class = "main_title">主标题</dt>
        <dt class = "side_title">副标题</dt>
        <dd class = "pay_month_div">
          <span class = "pay_month_title">月供</span>&yen;
          <span class = "pay_month">0&times;24</span>
        </dd>
        <dd class = "price_div" style = "display:none;">
          <span class = "price_title">售价</span>&yen;
          <span class = "price">
             1200
          </span>
        </dd>
    </dl>
</li>