<li class="edit_each_click" data-edit="vertical_floor" data-uri="{{data.uri}}" data-original-title="" title="" aria-describedby="popover820636" style="border: 2px dotted red; background: white;" >
	<div id="div_ad_inPits_l" class="template drop_item edit_each_click img_module" data-tpl="{{data.type}}" data-edit="navigate_pic" style="height:auto;">
	  <img class="ad_inPits img_url" src="{{data.picUri}}" data-uri="{{data.uri}}" alt="">
	</div>
	<div style="clear:both;"></div>
</li>