{{!--   ##分割线 --}}
  <div class="div1 A_line template drop_item edit_each_click" data-tpl = "t16" appId = "">
      <div class="A_line_div"></div>

      <button type="button" class="btn btn-default btn-xs remove"><span class="glyphicon glyphicon-trash"></span></button>
  </div>