{{!-- ##广告位高 t4 --}}
  <div id="div_ad_96perc" data-tpl = "t4" data-edit = "only_pic_big" class="template drop_item edit_each_click index_t4" style="background:#fff;" appId = "{{data.appId}}">
	  {{#each data.content}}
	      <img class="ad_96perc" src="{{picUri}}" data-uri = "{{uri}}" alt=""/>
	  {{/each}}

	  <button type="button" class="btn btn-default btn-xs remove"><span class="glyphicon glyphicon-trash"></span></button>
  </div>