{{!--  ##广告位低 t5 --}}
  <div id="div_ad_90perc" data-tpl = "t5" data-edit = "only_pic_small" class="template drop_item edit_each_click index_t5" style="height:auto !important;background:#fff;" appId = "{{data.appId}}">
      {{#each data.content}}
          <img class="ad_90perc" src="{{picUri}}" data-uri = "{{uri}}" alt="">
      {{/each}}
     
      <button type="button" class="btn btn-default btn-xs remove"><span class="glyphicon glyphicon-trash"></span></button>
  </div>