{{!-- ##1+2图文广告位t8 --}}
   <div class="div1 template drop_item index_t8" data-edit = "t8" data-tpl = "t8" style="height:auto;"
      data-edit = "picture_text" tpl-code = "t7" data-container="body" data-toggle="popover" data-placement="right" appId = ""
     >
       <div class="div1-left edit_each_click" data-edit = "onetwo_text_pic1" data-uri = "">
            <dl>
                <dt class="main_title">主标题</dt>
                <dd class="side_title">副标题</dd>
            </dl>
           <div class="div1-left-bottom">
               <div class="div1-left-bottom1">
                   <img src="http://cdn.ufenqi.com/cms/img/one_plus_two_left.png" class="pay_month"/>
               </div>
               <div class="div1-left-bottom2">
                   <img src="http://cdn.ufenqi.com/cms/img/one_plus_two_left.png" class="img_url"/>
               </div>
           </div>
       </div>
       <div class="div1-right">
           <div class="div1-right-top onetwo_text_pic2 edit_each_click" data-com-price = "" data-edit = "onetwo_text_pic2" data-uri = "">
               <div class="t1">
                   <dl>
                       <dt class="main_title">主标题</dt>
                       <dd class="side_title">副标题</dd>
                       <dd class="dd pay_month_div">
                          <span class = "pay_month_title">月供</span>&yen;
                          <span class="pay_month">0&times;24</span>
                          <span class = "qi_last">期</span>
                       </dd>
                       <dd class="dd price_div" style = "display:none;">
                          <span class = "price_title">售价</span>&yen;
                          <span class="price">0</span>
                       </dd>
                   </dl>
               </div>
               <div class="t2 img_url t8_right_img"></div>
           </div>
           <div class="div1-right-bottom onetwo_text_pic2 edit_each_click" data-com-price = "" data-edit = "onetwo_text_pic2" data-uri = "">
               <div class="t3">
                   <dl>
                       <dt class="main_title">主标题</dt>
                       <dd class="side_title">副标题</dd>
                       <dd class="dd pay_month_div">
                          <span class = "pay_month_title">月供</span>&yen;
                          <span class="pay_month">0&times;24</span>
                          <span class = "qi_last">期</span>
                       </dd>
                       <dd class="dd price_div" style = "display:none;">
                          <span class = "price_title">售价</span>&yen;
                          <span class="price">2500</span>
                       </dd>
                   </dl>
               </div>
               <div class="t4 img_url t8_right_img"></div>
           </div>
       </div>

       <button type="button" class="btn btn-default btn-xs remove"><span class="glyphicon glyphicon-trash"></span></button>
       <div style="clear:both;"></div>
   </div>